
<footer>
    <!-- Copyright notice with name -->
    <p>&copy; 2024 Kageepan Satheeskumar | 
        <!-- Link to contact via email -->
        <a href="mailto:kageepanx@gmail.com">Contact via Email</a> | 
        <!-- Link to GitHub profile, opens in a new tab -->
        <a href="https://github.com/Rene27K03/Assignment2" target="_blank">GitHub</a> | 
        <!-- Link to LinkedIn profile, opens in a new tab -->
        <a href="https://ca.linkedin.com/" target="_blank">LinkedIn</a> |
    </p>
</footer>
