
<footer class="bg-dark text-white text-center py-3"> <!-- Bootstrap classes for styling -->   

    <p>&copy; 2024 Kageepan Satheeskumar | <!-- Copyright  -->
        
        <a href="mailto:kageepanx@gmail.com" class="text-white">Contact via Email</a> | <!-- Link that opens the user's default email client to send an email, styled with Bootstrap -->
        <a href="https://github.com/Rene27K03/Assignment2" target="_blank" class="text-white">GitHub</a> | <!-- Link to the GitHub profile, opens in a new browser tab, styled with Bootstrap -->
        <a href="https://ca.linkedin.com/" target="_blank" class="text-white">LinkedIn</a> | <!-- Link to the LinkedIn profile, opens in a new browser tab, styled with Bootstrap -->
    </p>
</footer>

