
<header>
    <!-- Navigation bar -->
    <nav>
        <!-- Unordered list for navigation links -->
        <ul>
            <!-- List item for the Home link -->
            <li><a href="/">Home</a></li>
            <!-- List item for the About Me link -->
            <li><a href="/about">About Me</a></li>
            <!-- List item for the Projects link -->
            <li><a href="/projects">Projects</a></li>
            <!-- List item for the Contact Me link -->
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
</header>

