
<%- include('partials/header') %>
<section id="about">
    <h1>About Me</h1>
    <img src="/images/about-me-image.jpg" alt="Kageepan's Photo" style="width:400px;">
    <p>My hobbies include gaming, reading manga, watching anime, and enjoying nature views from tall places.</p>
    <video controls style="width:100%; margin-top: 20px;">
        <source src="/videos/about-me-video.mp4" type="video/mp4">
    </video>
</section>
<%- include('partials/footer') %>
