
<link rel="stylesheet" href="/stylesheets/style.css"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->

<%- include('partials/header') %>  

<section id="projects" class="projects">  <!-- Starts the My Projects section with an ID and class for styling -->
    <h1>My Projects</h1>  <!-- Main heading for the My Projects section -->
    <ul>  <!-- Starts an unordered list for the projects -->
        <li><strong>Python</strong>: First year course completed.</li>  <!-- List item for the Python course -->
        <li><strong>Object Oriented Programming</strong>: Completed various assignments and completed course during first year.</li>  <!-- List item for the Object Oriented Programming course -->
        <li><strong>Web Development Assignment</strong>: Current assignment 1 web and script programming.</li>  <!-- List item for the Web Development assignment -->
    </ul>
</section>

<%- include('partials/footer') %>  

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> <!-- jQuery -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script> <!-- Popper.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->


