
<%- include('partials/header') %>
<section id="projects">
    <h1>My Projects</h1>
    <ul>
        <li><strong>Python</strong>: First year course completed.</li>
        <li><strong>Object Oriented Programming</strong>: Completed various assignments and completed course during first year.</li>
        <li><strong>Web Development Assignment</strong>: Current assignment 1 web and script programming.</li>
    </ul>
</section>
<%- include('partials/footer') %>
